/* ESERCIZIO 1 */
.ex-1-square {
    transition: background-color 1s ease-in-out;
}
.ex-1-square:hover {
    background-color: red;
}


/* ESERCIOZIO 2 */
.ex-2-square {
    transition: width 1s linear;
}
.ex-2-square:active {
    width: 100%;
}


/* ESERCIZIO 3 */
.ex-3-square {
    transition: border-radius 0.5s;
}
.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */
.ex-4-square {
    transition: opacity 0.5s ease-in;
}
.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */
.ex-5-square {
    transition: all 0.5s ease-in;
}
.ex-5-square:hover {
    transform: scale(1.5);
}
.ex-5-square:active {
    transform: scale(0.75);
}

/* ESERCIZIO 6 */
.ex-6-img:hover {
    filter: grayscale(1);
}

/* ESERCIZIO 7 */
.ex-7-img {
    transition: filter 1s ease-out;
}
.ex-7-img:hover {
    filter: grayscale(1) brightness(0.6)
}

/* ESERCIZIO 8 */
.ex-8-img {
    transition: all 1s ease-in-out;
}
.ex-8-img:hover {
    border-radius: 20px;
    filter: grayscale(1) brightness(0.6);
}

/* ESERCIZIO 9 */
.ex-9-img {
    transition: all 1s ease-in-out;
}
.ex-9-img:hover {
    border-radius: 20px;
    filter: grayscale(1) brightness(0.6);
    transform: scale(1.5);
}

/* ESERCIZIO 10 */
.ex-10-icon {
    animation-name: ex-10-icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ex-10-icon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* ESERCIZIO 11 */
.ex-11-icon:hover {
    animation-name: ex-11-icon;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes ex-11-icon {
    0% {
        transform: rotate(0deg);
    }
    90%{
        transform: rotate(270deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* ESERCIZIO 12 */
.ex-12-button:hover .ex-12-top-white {
    animation-name: ex-12-top;
    animation-duration: 3s;
}

.ex-12-button:hover .ex-12-bottom-white {
    animation-name: ex-12-bottom;
    animation-duration: 3s;
}

@keyframes ex-12-top {
    0% {
        left: 10%;
    }
    50% {
        left: calc(100% - 60px);
    }
    100% {
        left: 10%;
    }
}

@keyframes ex-12-bottom {
    0% {
        right: 20%;
    }
    50% {
        right: calc(100% - 60px);
    }
    100% {
        right: 20%;
    }
}

/* ESERCIZIO 13 */
.ex-13-button:hover .ex-13-top-white {
    animation-name: ex-13-top;
    animation-duration: 3s;
    animation-timing-function: linear;
}

.ex-13-button:hover .ex-13-bottom-white {
    animation-name: ex-13-bottom;
    animation-duration: 3s;
    animation-timing-function: linear;
}

@keyframes ex-13-top {
    0% {
        top: -10px;
        left: 10%;
    }
    20% {
        top: -10px;
        left: calc(100% - 60px + 3px);
    }
    40% {
        top: 60px;
        left: calc(100% - 60px + 3px);
    }
    60% {
        top: 60px;
        left: -3px;
    }
    80% {
        top: -10px;
        left: -3px;
    }
    100% {
        top: -10px;
        left: 10%;
    }
}

@keyframes ex-13-bottom {
    0% {
        bottom: -10px;
        right: 20%;
    }
    20% {
        bottom: -10px;
        right: calc(100% - 60px + 3px);
    }
    40% {
        bottom: 60px;
        right: calc(100% - 60px + 3px);
    }
    60% {
        bottom: 60px;
        right: -3px;
    }
    80% {
        bottom: -10px;
        right: -3px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}